section {
  min-height: calc(100vh - 120px - 6rem - 4px) /* 120px 是上线栏， 6rem 是 line-height+margin*2， 4px 是 border*2*/;
}
main {
  width: 95%;
  max-width: 960px;
  min-height: calc(100vh - 120px - 2rem);
  margin: 0 auto;
}
blockquote {
  color: #495057;
  background-color: #f1f3f5;
  padding: 1em;
  margin: 0;
  margin-bottom: 1.2em;
  border-left: 6px solid #dee2e6;
}
img {
  max-height: 500px;
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
code {
  background-color: #f8f9fa;
  padding: 0.1em 0.6em;
  border-radius: 3px;
}
kbd {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}
/*滚动条整体部分*/
body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background-color: #f0f0f0;
}
/*滚动条两端的箭头*/
body::-webkit-scrollbar-button {
  display: none;
}
/*经测试好像并不能控制什么*/
body::-webkit-scroll-track {
  display: none;
}
/*滚动条内侧部分 去掉*/
body::-webkit-scrollbar-track-piece {
  display: none;
}
/*滚动条中可以拖动的那部分*/
body::-webkit-scrollbar-thumb {
  background-color: #ced4da;
  border-radius: 4px;
}
/*变角部分*/
body::-webkit-scrollbar-corner {
  display: none;
}
body::-webkit-resizer {
  display: none;
}
